<list class="list-detail">
	<h1 class="list-detail-title">
		<%= @list.name %>
	</h1>
	
	<div class="glyphicon glyphicon-calendar" id="list-date"> 
		<%= @list.created_at.strftime("%b %d, %Y") %>
	</div>

	<div class="edit-delete">
		<%= link_to "Edit List", edit_list_path(@list), class: "btn btn-primary btn-lg btn-space" %>
		<%= link_to "Delete List", list_path(@list), method: :delete, data: { confirm: "Are you sure you want to delete this list?" }, class: "btn btn-primary btn-lg btn-space" %>
	</div>
</list>	
<hr>
<div class="col-md-12">
	<%= form_for [@list, @list_item], :html => {class: "form-horizontal", role: "form"} do |f| %>
		<% if @list_item.errors.any? %>
			<div class="panel panel-danger col-md-offset-1">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= pluralize(@list_item.errors.count, "error") %>
						prohibited this list_item from being saved:
					</h2>
					<div class="panel-body">
						<ul>
							<%= @list_item.errors.full_messages.each do |msg| %>
								<li> <%= msg%> </li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
		<div class="form-group">
			<div class="control-label col-md-2">
				<%= f.label :body, 'New ListItem' %>
			</div>
			<div class="col-md-10">
				<%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your ListItem' %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<%= f.submit "Add ListItem", class: 'btn btn-primary btn-lg pull-right' %>
			</div>
		</div>
	<% end %>
</div>
<div class="col-md-12">
	<header>
		<h2>List Items</h2>
	</header>
	<div class="col-md-10">
		<% if @list.list_items.any? %>
			<% persisted_list_items(@list_items).each do |list_item| %>
				<div class="listitem-body">
					<%= list_item.body %>
				</div>

				<div class="listitem-time">
					Created at <%= time_ago_in_words(list_item.created_at) %>
					ago 
				</div>
				<hr>
			<% end %>
		<% else %>
			There are no list items to show.
		<% end %>
	</div>
</div>