<div class="col-md-12">
	<%= form_for [@list, @list_item], :html => {class: "form-horizontal", role: "form"} do |f| %>
		<% if @list_item.errors.any? %>
			<div class="panel panel-danger col-md-offset-1">
				<div class="panel-heading">
					<h2 class="panel-title">
						<%= pluralize(@list_item.errors.count, "error") %>
						prohibited this list_item from being saved:
					</h2>
					<div class="panel-body">
						<ul>
							<%= @list_item.errors.full_messages.each do |msg| %>
								<li> <%= msg%> </li>
							<% end %>
						</ul>
					</div>
				</div>
			</div>
		<% end %>
		<div class="form-group">
			<div class="control-label col-md-2">
				<%= f.label :body, 'New ListItem' %>
			</div>
			<div class="col-md-10">
				<%= f.text_area :body, rows: 10, class: 'form-control', placeholder: 'Your ListItem' %>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<%= f.submit "Add ListItem", class: 'btn btn-primary btn-lg pull-right' %>
			</div>
		</div>
	<% end %>
</div>