<% @list_items = @list.list_items.exclude_soft_deleted%>

<div class="col-md-12">
	<header>
		<h2>List Items</h2>
	</header>
	<div class="col-md-10">
		<% if @list_items.present? %>
			<% @list_items.each do |list_item| %>
				<div class="listitem-body">
					<%= list_item.body %>
				</div>

				<div class="listitem-time">
					Created at <%= time_ago_in_words(list_item.created_at) %>
					ago 
				</div>
				<hr>
				<div class="edit-delete">
					<%= link_to "Edit List Item", edit_list_list_item_path(@list,list_item), class: "btn btn-primary btn-lg btn-space" %>
					<%= link_to "Delete List Item", list_list_item_path(@list,list_item), method: :delete, data: { confirm: "Are you sure you want to delete this list?" }, class: "btn btn-primary btn-lg btn-space" %>
					<%= link_to "Move to Trash", list_list_item_path(@list, list_item, soft_delete: true), method: :delete, data: { confirm: "Are you sure you want to destroy this list? You can find this in Trash!" }, class: "btn btn-info btn-lg btn-space" %>
				</div>
				<br>
			<% end %>
		<% else %>
			There are no list items to show.
		<% end %>
	</div>
</div>